<!DOCTYPE html>
<html>
<head>
	<title>Media Objects</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

<div class="list">
	<div class="media">

		<div class="media-left">
			<a href="#">
				<img class="media-object" src="http://www.butlercountyhs.org/Graphics/Dogs/ButlerHumaneSociety3.png" alt="http://www.butlercountyhs.org/Graphics/Dogs/ButlerHumaneSociety3.png" height="100" width="100">
			</a>
		</div>

		<div class="media-body">
			<h4 class="media-heading">Batmann</h4>
			<strong>Address: </strong>312 Chintulal St.
			<br>
			<strong>Breed: </strong>Norwegian Ridgeback
		</div>

	</div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
</body>
</html>