

* {
  margin: 0;
  padding: 0;
}

.listview {
  overflow: scroll;

}

.listview ul {
  list-style-type: none;
  width: 500px;
}

.listview h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.listview li img {
  float: left;
  margin: 0 15px 0 0;
}

.listview li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.listview li {
  padding: 10px;
  overflow: auto;
}

.listview li:hover {
  background: #A0A0A0;
  cursor: pointer;
}

.map{
  display: inline;
}

.logo{
  margin-top: 0px;
  margin-bottom: 0px;
}

body{
  background-color: white;
}

.angular-google-map-container
{
 
}

@media (min-width: 1375px){
  .listview{
    float: left;
    margin: 10px;
    height: 87vh;
    width: 31vw;
    width: 30%;
  }
  .angular-google-map-container{
    float: right;
    height: 87vh;
    width: 67vw;
    margin-right: 1vw;
  }
}

@media(max-width: 1374px){
  .listview{
    margin: 10px;
    height: 45vh;
    width: 100%;
    overflow: scroll;
  }
  .angular-google-map-container{
    height: 50vh;
    width: 100%;
    margin-right: 1vw;
  }

}
