

* {
  margin: 0;
  padding: 0;
}

.listview {
  margin: 10px;
  height: 87vh;
  width: 31vw;
  overflow: scroll;
  padding-right: 30em;
}

.listview ul {
  list-style-type: none;
  width: 500px;
}

.listview h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.listview li img {
  float: left;
  margin: 0 15px 0 0;
}

.listview li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.listview li {
  padding: 10px;
  overflow: auto;
}

.listview li:hover {
  background: #A0A0A0;
  cursor: pointer;
}

.map{
  display: inline;
}

.logo{
  margin-top: 0px;
  margin-bottom: 0px;
}

body{
  background-color: white;
}

.angular-google-map-container
{
  height: 87vh;
  width: 67vw;
  margin-right: 1vw;
  float: right;
}
